<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  <add key="MailSMTPServer" value="smtp.office365.com" />
    <add key="SmtpPort" value="587" />
    <add key="UserName" value="smartbranch@abwebapp.com" />
    <add key="Keyvalue" value="Bvoc9yc8KE1walQ+mtam1sLZQCx+a7u6joL7F2Ff+a0=" />
    <add key="Apiwriting" value="https://api.arabbank.com/communication/v1/pom?apikey=UnvKNEDs2pBD0zGnsbdTli1xpCG0QKj4"/>
    <add key="Apiwritinguae" value="https://api.arabbank.com/communication/v1/pom?apikey=qLWUhMgBHgZyKSGIFhSj8DRc2G2XdCr5"/>
    <add key="Apiwritingegypt" value="https://api.arabbank.com/communication/v1/pom?apikey=4zTJU0tc6qW7nCxsE73LJbXqEmGNmZLM"/>
     <add key="Apiwritingpalestine" value="https://dapi.arabbank.com/communication/v1/pom?apikey=Qy5Esk22aYPJlo98pddBYt88UZxfty5x"/>
    <add key="RateAPI" value="https://api.arabbank.com/rate/v1/interestrates?apikey=UnvKNEDs2pBD0zGnsbdTli1xpCG0QKj4"/>
    <add key="Enckey" value="014589ABCDEFGHIJKL23MNOPQRS76TUVWXYZ"/>
  </appSettings>
  <connectionStrings>
   <!-- <add name="arabbank" connectionString="siAzLqetQJAm3FE6W+ozAgNt0PL+UXDczi7Ki5+6yxvCppjSur+/1KJw0bS6Mse8VrHnoe2hfb563cdIqZdq+ymWR0KUp403o9M0B1FwQnXQoOhXotcjtr2hn7Q6hJWl2J5yoAKtODkJjYD/f6At4F/ZBOuAC3honSYOV164wMU9TPyhmnsNASltPA3hMLar9FPUJqN8N1vLm9Njb2y868vVWBzDcvcq3YUM34pR/65rmMJ/yv+jYMEJa37vzny/Q0rpnOic6e/Xt+TAo5h073QulJGUqx64JSu6jB8SvEEkYbatXT4nGTpgtYERd3DChhsv9o80cww2nYKgVVIPzDKwJfX3qVJGHiL7Ph4MmzwzIXM8qatZH9l97/+VDKpIzH2iOTOLHBJkQgBJ+T3qnaLwWakqaMoaCkEIBdOEt7n7spEK72Z8MqKzCWDcnDM0uXRivm6IakGlwwej2dInJki936K6yOubDMeHe0f1lDLMVv/CET8Ka6PcaMVl4tJx0w3OLLU/4EwlwCUr/wWEibpm4yfg018Uj+4JAYIV1sqz9qnQMitd6SVyffd35EitoEm4xVHWFCee17XT7AQPDVcUqcQbFCXeu7LDuaqQtKXrLgns9woe0A0xTv/9BEDCIQGlzbO10GaG+vthqfmpQh9JluM/jjV9AbeM8yQt4YNAWhOAv+iu2Yn/tpFmeIML" providerName="System.Data.Oledb"/> -->
  
   <add name="arabbank" connectionString="siAzLqetQJAm3FE6W+ozAgNt0PL+UXDczi7Ki5+6yxvCppjSur+/1KJw0bS6Mse8VrHnoe2hfb563cdIqZdq+ymWR0KUp403o9M0B1FwQnXQoOhXotcjtr2hn7Q6hJWl2J5yoAKtODkJjYD/f6At4F/ZBOuAC3honSYOV164wMU9TPyhmnsNASltPA3hMLar9FPUJqN8N1vLm9Njb2y868vVWBzDcvcq3YUM34pR/65rmMJ/yv+jYMEJa37vzny/Q0rpnOic6e/Xt+TAo5h073QulJGUqx64JSu6jB8SvEEkYbatXT4nGTpgtYERd3DChhsv9o80cww2nYKgVVIPzDKwJfX3qVJGHiL7Ph4Mmzx3yBBWOlPFQj/fwU+nhYlkPhbzfD+efEirV2Ce5YW8Aj4L+pL8btAqlAlXNAnZJ9FHj9azDQtSrK0HMxOAHL9D8SYFJapGAE4NApbaAbwzSNfuY5OA8bwQQx5YXUHJ2j2YAgZONerMH+VmjEc13ThbfsOPK34rWxegyD/F8fz9csIeVgvLXAXLqjpaolKbXhG9tKycx+VTSzIM+obgr6EPPg85gOS1uv2tuRdAvIft/z4MfTk7m1xbw1TBRMOtHG8wNU05V6eIIu+qYlPUwqgRSCHHM7acBCIX5/9oDx056BEf5epfF0e2vuTIY9rCK2RVDsyaPLhtBEK42UxBfojn" providerName="System.Data.Oledb"/> 
  
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpErrors>
        <!--<remove statusCode="403" subStatusCode="-1"/>
        <error statusCode="403" prefixLanguageFilePath="" path="~/errormessage.aspx" responseMode="ExecuteURL"/>
        <error statusCode="502" prefixLanguageFilePath="" path="~/errormessage.aspx" responseMode="ExecuteURL"/>-->
      </httpErrors>
      <!--<security>
      <requestFiltering removeServerHeader ="true"></requestFiltering>
    </security>-->
      <httpProtocol>
        <customHeaders>
          <!--<add name="Cache-Control" value="no-cache, no-store" />
        <add name="Pragma" value="no-cache" />-->
          <add name="Content-Security-Policy" value="default-src 'self' https:; script-src 'self' https: https://maps.google.com; object-src 'none'; style-src 'self'; img-src 'self'; media-src 'self'; frame-src 'none'; font-src 'self'; connect-src 'self';"/>
          <add name="Arr-Disable-Session-Affinity" value="True"/>
          <add name="X-Frame-Options" value="SAMEORIGIN"/>
          <add name="X-XSS-Protection" value="1; mode=block"/>
          <add name="X-Content-Type-Options" value="nosniff"/>
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
          <remove name="X-Powered-By"/>
          <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
        </customHeaders>
      </httpProtocol>
      <staticContent>
        <remove fileExtension=".woff"/>
        <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      </staticContent>
      <validation validateIntegratedModeConfiguration="false"/>
      <defaultDocument>
        <files>
          <!--<remove value="default.aspx" />-->
          <add value="Default_S.aspx"/>
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
  <system.web>
    <httpCookies requireSSL="true"/>
    <customErrors mode="On" defaultRedirect="errormessage.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="errormessage.aspx"/>
      <error statusCode="404" redirect="errormessage.aspx"/>
      <error statusCode="502" redirect="errormessage.aspx"/>
    </customErrors>
    <httpModules>
      <add name="LocalizationHttpModule" type="LocalizationHttpModule"/>
    </httpModules>
    <httpRuntime targetFramework="4.6.1"/>
    <compilation debug="false" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 712a8443-899a-4555-9253-7490eea3a539-->